/* 
google fonts used in this project
font-family: 'Anton', sans-serif; h1
font-family: 'Dosis', sans-serif; p
font-family: 'Noto Serif', serif; h2
 */

/* css reset */
* {
  box-sizing: border-box;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1.5em;
  font-size: 88%;
  text-align: justify;
  /* padding: 1em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  padding: 0.6em 0;
  /* text-transform: uppercase; */
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floatLeft {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.floatRight {
  float: right;
  padding: 0.5em 0 0.5em 0.5em;
}

/* container css rule */
.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* header css rules */
header {
  width: 100%;
  text-align: center;
  background-color: #403f4c;
  color: #edf7f6;
  height: auto;
  padding-bottom: 1em;
}

header > h1 {
  font-family: "Anton", sans-serif;
  font-size: 1.6em;
  text-align: center;
  letter-spacing: 0.5em;
  font-weight: 200;
  line-height: 1.2em;
}

header > p {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1em;
  font-weight: 600;
  text-align: justify;
  padding: 0 0.9em;
}

/* first card rules */
.first_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 0;
}

.card_one > div > h2,
.card_two > div > h2 {
  font-family: "Noto Serif", serif;
}

#card_one_btn,
#card_two_btn {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0;
  /* height: 50px; */
}

.card_one,
.card_two {
  width: 90%;
  height: 100%;
  border: 2px solid #403f4c;
  border-radius: 20px;
  margin: 0 auto;
  background-repeat: non-repeat;
  background-size: 100%;
  background-position: center;
  color: #edf7f6;
}

.text {
  margin-top: 1em;
}

.text a {
  color: green;
  font-size: 1.1em;
  display: inline-block;
}

.first_card > div,
.projects {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.5em;
}

/* section one card css rules */
.card_one {
  background-image: url("images/pexels-hasan-albari-1229861.jpg");
}

.card_two {
  margin-top: 0.8em;
  background-image: url("images/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg");
}

#sec_two_one {
  background-image: url("images/download.jpg");
}

#sec_two_two {
  background-image: url("images/download\ 2.jpg");
}

#sec_three_one {
  background-image: url("images/download\ 3.jpg");
}

#sec_three_two {
  background-image: url("images/download\ 4.jpg");
}

.card_one,
.card_two,
#sec_two_one,
#sec_three_one,
#sec_two_two,
#sec_three_one,
#sec_three_two {
  /* background-repeat: no-repeat; */
  object-fit: cover;
  background-position: center;
}

.card_one_flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.btn {
  border: 2px solid #403f4c;
  border-radius: 10px;
  color: #fff;
  background-color: #7a7d7d;
  text-align: center;
  height: auto;
  width: 11em;
  cursor: pointer;
  padding: 0 1em;
  height: 50px;
}

#description,
#close,
#second_description_one,
#second_close,
#third_description_one,
#third_close {
  display: none;
}

/* footer css rule */
footer {
  width: 100%;
  height: 100px;
  background-color: #403f4c;
  padding-top: 0.7em;
}

footer > ul > li > a > i {
  color: #fff;
  font-size: 1em;
}

footer > ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
  }

  header {
    margin-bottom: 2em;
  }

  header h1 {
    font-size: 2em;
    text-align: center;
  }

  header p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .first_card {
    flex-direction: row;
    justify-content: space-around;
  }

  .first_card > div {
    letter-spacing: 0.2em;
    overflow: visible;
  }

  .card_one,
  .card_two {
    width: 45%;
    height: 380px;
    margin: 0;
  }

  .card_one_flex {
    justify-content: space-around;
  }

  footer {
    margin-top: 1em;
  }

  footer > ul {
    width: 30%;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
